<html>
<head>
  <meta charset="UTF-8">
  <title>Session Login</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-inverse">
  <div class="container" style="max-width: 600px;">
    {{{body}}}
  </div>
</body>
</html>
